<%- include('./include/dashboardhead.ejs') -%>

    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">


            <!-- Basic Bootstrap Table -->
            <div class="card">
              <div class="card-body">
                <a class="btn btn-primary text-white" href="#" onclick="openAddModal()" data-bs-toggle="modal"
                  data-bs-target="#newagentmodal">Add Loader</a>
                  <a class="btn btn-primary text-white" href="#" data-bs-toggle="modal"
                  data-bs-target="#openreport">Download Report</a>
         
                <div class="table-responsive text-nowrap p-4">
                  <h5>Current Month Report</h5>
                  <table class="table" id="sellers">
                    <thead>
                      <tr>
                        <th>Account</th> 
                        <th>Address</th>
  <th>Phone</th>     
  <th>Payable</th>
  <th>Paid</th>
  <th>Balance</th>
  <th>Action</th>     
          
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="table-body">
                      <!-- Data will be populated here -->
                    </tbody>
                  </table>
          
                </div>
              </div>
</div>
<!--/ Basic Bootstrap Table -->

</div>
<!-- / Content -->

<!-- Footer -->

<!-- / Footer -->

<div class="content-backdrop fade "></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div class="modal fade hidden" id="openreport">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Report</h5>
      
      </div>
      <div class="modal-body">
        <form  id="downloadform" method="post" action="/downloadloadersreport">
      <div class="row">
        <div class="col mb-3">
          <label for="name" class="form-label">From</label>
          <input required type="date" name="from" id="datafrom" class="form-control">
        </div>
        <div class="col mb-3">
          <label for="description" class="form-label">To</label>
          <input  type="date" id="datato" required  name="to" class="form-control" >
        </div>
        </div>

       
      
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="closeeditpartybtn" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" id="buttonreport" form="downloadform"   class="btn btn-primary">Download loaders</button>
      </div>
  </form>
    </div>
  </div>
 </div>
 <div class="modal fade hidden" id="transportagentModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Add New account</h5>
      
      </div>
      <div class="modal-body">
        <form  id="transportagentform">
      <div class="row">
        <div class="col mb-3">
          <label for="name" class="form-label">Name</label>
          <input required type="text" disabled name="editname" id="editname" class="form-control" placeholder="Enter Name">
        </div>
        <input type="hidden" name="id" id="id">
        </div>

        <div class="row">
        <div class="col mb-3">
          <label for="description" class="form-label">Phone</label>
          <input  type="text" id="editphone" name="editphone" class="form-control" placeholder="Enter Phone">
        </div>
        <div class="col mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" id="editaddress" name="editaddress" class="form-control" placeholder="Enter Address">
        </div>
      </div>
      
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="closeeditpartybtn" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" form="sellerform" id="submitbutton" onclick="updateexpence()" class="btn btn-primary">Add Party</button>
      </div>
  </form>
    </div>
  </div>
 </div>
<div class="modal fade hidden" id="newagentmodal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Add New account</h5>
      
      </div>
      <div class="modal-body">
          <form  id="transportagentform">
        <div class="row">
          <div class="col mb-3">
            <label for="name" class="form-label">Name</label>
            <input required type="text" name="Tagentname" id="Tagentname" class="form-control" placeholder="Enter Name">
          </div>
          <!-- <div class="col mb-3">
            <label for="address" class="form-label">Account Type</label>
            <select name="accounttype" id="accounttype" class="form-control">

              <option value="Labour">Labour</option>
              <option value="Expence-income">Expence / Income</option>
              <option value="Delivery-Agent">Delivery Agent</option>
              <option value="Loader">Loader</option>

            </select>     

</div> -->
<input type="hidden" name="accounttype" id="accounttype" value="Expence-income">
          </div>
 
          <div class="row">
          <div class="col mb-3">
            <label for="description" class="form-label">Phone</label>
            <input  type="text" id="Tagentphone" name="Tagentphone" class="form-control" placeholder="Enter Phone">
          </div>
          <div class="col mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="Tagentaddress" name="Tagentaddress" class="form-control" placeholder="Enter Address">
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="closeTransportModalBtn" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" form="sellerform" id="submitbutton" onclick="addtransportagent()" class="btn btn-primary">Add Party</button>
      </div>
  </form>
    </div>
  </div>
 </div>
 <div class="modal fade hidden" id="koolireport">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Kooli Report</h5>
      
      </div>
      <div class="modal-body">
        <form  id="transportagentform">
      <div class="row">
        <div class="col mb-3">
          <label for="name" class="form-label">From</label>
          <input required type="date" name="fromdate" id="fromdate" class="form-control" placeholder="Enter Name">
        </div>
        <div class="col mb-3">
          <label for="description" class="form-label">To</label>
          <input  type="date" id="todate" name="todate" class="form-control" placeholder="Enter Phone">
        </div>
        <div class="col-2 mb-3">
          <label for="description" class="form-label"></label>
          <button type="button" id="checkkooli" class="btn btn-primary btn-sm add-btnvd mt-2">
            <i class="bx bx-check"></i> Check
        </button>      
        </div>
        </div>
        <div class="row">
          <table>
              <thead>
                <tr>
                  <th>Employee</th>
                  <th>Kooli</th>
                  <th>Paid</th>
                  <th>Recieved</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody id="koolidetails">

              </tbody>

          </table>




        </div>

        
      
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="closeeditpartybtn" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" id="downloadpdf" class="btn btn-primary">Download Report</button>
      </div>
  </form>
    </div>
  </div>
 </div>
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  var thetatable
      $(document).ready(function () {
        const responsive = '<%= resptype %>' === 'true'; // Convert the string to a boolean

         thetatable = $('#sellers').DataTable({
          responsive: responsive,
          processing: true,
          serverSide: true,
          ajax: {
            url: '/expenseincometotal',
            dataSrc: 'docs', // Key that holds the array of data in the API response
            data: function (d) {
              d.name = 'Loader'; // Add the 'name' parameter to the data object
              return d;
  
              // Add any additional parameters you want to send to the server here
            },
          },
          columns: [
            {
              data: null,
              render: function (data, type, row) {
                return `<a class="" href="/ialoaders/${row.agent}" >${row.agent}</a>`;
              },
            },
            { 
              data: null,
              render: function (data, type, row) {
                  return (row.address || '') 
              }
          },
          { 
              data: null,
              render: function (data, type, row) {
                  return (row.phone || '') 
              }
          },
           
  
          { 
              data: null,
              render: function (data, type, row) {
                return row.totalIncome ? parseInt(row.totalIncome) : 0;
              }
          }, 
  
          { 
              data: null,
              render: function (data, type, row) {
                return row.totalExpense ? parseInt(row.totalExpense) : 0;
              }
          },
          { 
              data: null,
              render: function (data, type, row) {
                return parseInt(((row.totalIncome||0)-(row.totalExpense || 0))) 
              }
          },
          {
            data: null,
            render: function (data, type, row) {
              return `<div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item edit-action" data-id="${row._id}"  data-name="${row.agent}" data-address="${row.address}" data-address="${row.phone}"><i class="bx bx-edit me-1"></i> Edit /View </button>
                  <button class="dropdown-item delete-btn" data-id="${row._id}"><i class="bx bx-trash me-1"></i> Delete</button>
                </div>
              </div>`;
            },
          }, // Assuming coffee is an array property
          ],
        });
        $('#sellers').on('click', '.edit-action', function () {
          var name = $(this).data('name');
      var address = $(this).data('address');   
      var phone = $(this).data('phone');   
      var id = $(this).data('id');   

      $('#editname').val(name);
      $('#editaddress').val(address);
      $('#editphone').val(phone);
      $('#id').val(id);

      // Show the edit party modal
      $('#transportagentModal').modal('show');
      // const rowData = JSON.parse($(this).closest('.edit-btn').attr('data-row'));
    });
    $('#sellers').off('click', '.delete-btn');

    $('#sellers').on('click', '.delete-btn', function () {
  
      var id = $(this).data('id');
      const password = window.prompt("Please enter your password to confirm deletion:");
      if (password !== null) { // User clicked "OK"
          // Send a request to deleteuser API endpoint with the entered password
          fetch('/deleteagent', {
              method: 'DELETE',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify( {password:password,id:id} )
          })
          .then(response => {
              if (response.ok) {
                  alert('User deleted successfully');
                  window.location.reload();
              } else {
                  alert('Failed to delete user. Please check your password.');
              }
          })
          .catch(error => {
              console.error('Error deleting user:', error);
              alert('Failed to delete user. Please try again later.');
          });
      }
  
  
    });
      });

      function updateexpence() {
    // Get form data
    const name = document.getElementById('editname').value;
    const address = document.getElementById('editaddress').value;
    const phone = document.getElementById('editphone').value;
    const id = document.getElementById('id').value;

    var closeButton = document.getElementById('closeeditpartybtn');

    // Prepare data to be sent
    const data = {
        name: name,
        address: address,
        phone: phone,
        id:id
    };

 
      axios.post('/editagent', data)
  .then(response => {
    // Handle the server response here
    thetatable.ajax.reload();
    closeButton.click();
    
    // Close the modal on successful response
    
  })
  .catch(error => {
    // Handle errors here
    console.log('Error:', error);
  });
}
function addtransportagent(){
  var agent = document.getElementById("Tagentname").value;
  var address = document.getElementById("Tagentaddress").value;
  var phone = document.getElementById("Tagentphone").value;
  var strength = 0;
  var accounttype = document.getElementById("accounttype").value;

  var data = {
    agent: agent,
    address:address,
    phone:phone,
    strength:strength,
    accounttype:'Loader'
  
  };
  
  
  // Send a POST request to the server using Axios
  axios.post('/addtransportagent', data)
    .then(response => {
      // Handle the server response here
  
      // Close the modal on successful response
      if (response.data.success) {
      var closeButton = document.getElementById('closeTransportModalBtn');
      thetatable.ajax.reload()
  // Trigger the click event on the button
  closeButton.click();
      }
    })
    .catch(error => {
      // Handle errors here
      console.log('Error:', error);
    });
  
  
  }
    </script>                
                                        <%- include('./include/end.ejs') -%>